html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: auto;
    overflow: hidden;
    background: url("../img/guess-bg.jpg")
}

.title {
    width: 100%;
    height: 20%;
    margin-top: 2px;
}

.title img {
    display: block;
    /*width: 1189px;*/
    height: 100%;
    margin: 0 auto;
}

.left,
.middle,
.right,
.footer {
    font-family: "Microsoft YaHei";
    display: inline-block;
    vertical-align: top;
}


/*left start*/

.listBtn {
    display: none;
    width: 35px;
    height: 96px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #98F5FF;
    position: fixed;
    top: 50%;
    left: 0;
    cursor: pointer;
    margin-top: -48px;
    -webkit-box-shadow: inset 0 0 10px #f9f7bd;
    -moz-box-shadow: inset 0 0 10px #f9f7bd;
    box-shadow: inset 0 0 10px #f9f7bd;
}

.listBtn span {
    margin: 0 auto;
    margin-top: 7px;
    width: 16px;
    display: block;
    line-height: 20px;
    font-size: 14px;
    color: #08fcff;
}

.navList {
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    width: 250px;
    margin-left: 100px;
    margin-top: -38px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

@media \0screen {
    /* 只支持IE8 */
    .navList {
        background-color: #ffffff;
        filter: Alpha(opacity=30);
        position: static;
        /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
        *zoom: 1;
        /* 激活IE6、7的haslayout属性，让它读懂Alpha */
    }
    .navList .listTab,
    .navList .memberList {
        position: relative;
        /* 设置子元素为相对定位，可让子元素不继承Alpha值 */
    }
}

.navList .listTab {
    height: 50px;
    width: 100%;
}

.navList .listTab li {
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
    width: 35%;
    display: inline-block;
    float: left;
    text-align: center;
    cursor: pointer;
}

.navList .listTab li.active {
    color: #08fcff;
    border-bottom: 3px solid #08fcff;
}

.navList .listTab li span {
    display: block;
    line-height: 25px;
}

.navList .memberList {
    margin: 30px 0 10px 0;
    overflow: auto;
    max-height: 550px;
    position: relative;
}

.navList .memberList ul {
    position: relative;
}

.navList .memberList li {
    padding: 9px 0;
    margin: 0 30px;
    height: 32px;
    border-bottom: 1px solid #EBEBEB
}

.navList .memberList li.last {
    border-bottom: none;
}

.navList .liveMem {
    margin: 0 5% 0 10%;
}

.navList .memImg {
    width: 32px;
    height: 32px;
    float: left;
}

.navList .memberList li .memName {
    font-size: 14px;
    color: #ffffff;
    float: left;
    width: 55%;
    margin: 6px 0 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.navList .memberList li .vipImg {
    display: inline-block;
    width: 33px;
    float: right;
    height: 12px;
    margin-top: 10px;
    background: url("../img/vipImg.png") no-repeat;
}

.navList .myCus {
    margin: 0 10% 0 5%;
}

.customList {
    display: none;
}


/*left end*/


/*middle start*/

.draw {
    display: block;
    width: 700px;
    height: 370px;
    padding: 9px 8px;
    margin-top: -38px;
    background: url("../img/prizeBg.png") no-repeat;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.draw .prize {
    width: 94px;
    height: 58px;
    text-align: center;
    margin: 3px;
    padding: 5px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 0 3px #ffffff;
    -moz-box-shadow: 0 0 3px #ffffff;
    box-shadow: 0 0 3px #ffffff;
}

.draw .prize.active {
    width: 90px;
    height: 54px;
    border: 2px solid #08fcff;
    -webkit-box-shadow: 0 0 10px #08fcff;
    -moz-box-shadow: 0 0 10px #08fcff;
    box-shadow: 0 0 10px #08fcff;
}

.draw .prize {
    background-color: rgba(255, 255, 255, 0.38);
}

@media \0screen {
    /* 只支持IE8 */
    .prize {
        background-color: #ffffff;
        filter: Alpha(opacity=38);
        position: static;
        /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
        *zoom: 1;
        /* 激活IE6、7的haslayout属性，让它读懂Alpha */
    }
    .prize span,
    .prize img {
        position: relative;
        /* 设置子元素为相对定位，可让子元素不继承Alpha值 */
    }
}

.draw .prizeBtn {
    position: relative;
}

.draw .prizeBtn a {
    display: block;
    position: absolute;
    text-align: center;
    left: 97px;
    top: 44px;
    width: 307px;
    height: 134px;
    text-decoration: none;
    cursor: pointer;
    background: url("../img/prizeBtnBg.png") no-repeat;
}

.draw .prizeBtn a p {
    font-family: "Microsoft YaHei";
    font-size: 57px;
    color: #fff;
    font-weight: 500;
    height: 134px;
    line-height: 134px;
    letter-spacing: 10px;
    text-shadow: 0 0 10px #27ecf4;
    -moz-text-shadow: 0 0 10px #27ecf4;
    -webkit-text-shadow: 0 0 10px #27ecf4;
}

.draw td img {
    display: block;
    width: 50px;
    height: 42px;
    margin: 0 auto;
    margin-top: -4px;
}

.draw td span {
    position: relative;
    color: #fff;
    font-size: 14px;
    display: block;
}

.middle .drawExplain {
    margin-top: 10px;
    background: url("../img/drawExpBg.png") no-repeat;
    width: 275px;
    height: 282px;
    float: left;
}

.middle .drawExplain .expTitle {
    display: block;
    width: 275px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    font-size: 16px;
}

.middle .drawExplain .expList {
    color: #fff;
    font-size: 14px;
    width: 220px;
    margin: 0 auto;
}

.middle .drawExplain .expList li {
    padding: 9px 0;
    line-height: 24px;
    border-bottom: 1px dashed #8968CD
}

.middle .drawExplain .expList .last {
    border-bottom: none;
}

.middle .drawExplain .expList .number {
    height: 28px;
    float: left;
}

.middle .expList .first .number {
    height: 58px;
}

.middle .drawList {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    background: url("../img/drawListBg.png") no-repeat;
    width: 422px;
    height: 282px;
    color: #fff;
}

.middle .drawList .listTitle {
    width: 100%;
    text-align: center;
    height: 38px;
}

.middle .drawList .listTitle span {
    padding-bottom: 2px;
    line-height: 38px;
    font-size: 16px;
    text-shadow: 0 0 20px #ffffff;
    -moz-text-shadow: 0 0 20px #ffffff;
    -webkit-text-shadow: 0 0 20px #ffffff;
}

.middle .drawList .lists {
    width: 350px;
    display: block;
    margin: 0 auto;
    margin-top: 14px;
}

.middle .drawList .lists li {
    padding: 8px 0;
}

.middle .drawList .lists span {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.middle .drawList .lists .memName {
    width: 30%;
}

.middle .drawList .lists .prizeName {
    width: 40%;
}

.middle .drawList .lists .prizeDate {
    width: 30%;
}


/*middle end*/


/*right start*/

.right {
    position: relative;
}

.right .videoArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 725px;
    height: 442px;
    background: url("../img/videoBg.png") no-repeat;
    background-size: cover;
    display: block;
    margin-top: -38px;
    margin-left: 50px;
}

.right .videoArea embed {
    width: 672px;
    height: 378px;
    margin: 32px 26px;
}

.right .commentArea {
    background: #ffffff;
    width: 92%;
    height: 220px;
    display: block;
    margin-top: 10px;
    margin-left: 4%;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.right .videoArea .chatRoom {
    height: 140px;
}

.right .videoArea .chatTextArea {
    height: 90px;
    width: 100%;
    border-top: 1px solid #dfdfdf;
    position: relative;
}

.right .chatTextArea a {
    display: inline-block;
    width: 24px;
    height: 23px;
    margin: 5px 0;
    cursor: pointer;
}

.right .chatTextArea .emoj {
    margin-left: 4%;
    background: url("../img/emoj.png") no-repeat;
}

.right .chatTextArea .clean {
    margin-left: 9px;
    background: url("../img/clean.png") no-repeat;
}

.right .chatTextArea input {
    width: 92%;
    height: 30px;
    margin: 0 4%;
}

.right .chatTextArea .inputArea {
    margin-top: -4px;
    position: relative;
}

.right .chatTextArea span {
    font-size: 14px;
    color: #A09E9E;
    position: absolute;
    bottom: 7px;
    right: 6%;
    cursor: pointer;
}


/*right end*/

.footer {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 5px;
    position: fixed;
    bottom: 0;
}

.footer span {
    font-size: 12px;
    color: #ffffff;
    line-height: 30px;
}

@media screen and (max-width: 1440px) {
    .middle {
        margin-left: 60px;
    }
    .navList {
        display: none;
        position: fixed;
        margin-left: 0;
        top: 50%;
        z-index: 9999;
        background-color: rgba(16, 34, 46, 0.8)
    }
    @media \0screen {
        /* 只支持IE8 */
        .navList {
            background-color: #10222e;
            filter: Alpha(opacity=80);
            position: static;
            /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
            *zoom: 1;
            /* 激活IE6、7的haslayout属性，让它读懂Alpha */
        }
        .navList .listTab,
        .navList .memberList {
            position: relative;
            /* 设置子元素为相对定位，可让子元素不继承Alpha值 */
        }
    }
    .listBtn {
        display: block;
        z-index: 9999;
    }
    .right .videoArea {
        width: 580px;
        height: 354px;
        margin-left: 0;
    }
    .right .videoArea embed {
        width: 90%;
        height: 80%;
    }
    .right .commentArea {
        height: 315px;
    }
    .right .videoArea .chatRoom {
        height: 230px;
    }
}

@media screen and (max-width: 1366px) {
    .middle {
        margin-left: 15px;
    }
}