/*rankList start*/

.container-left,
.container-middle,
.container-right {
    display: inline-block;
    vertical-align: top;
}


/*container-left start*/

.container-left {
    margin: 20px;
    width: 263px;
}

.container-left .expertRank {
    height: 556px;
}

.container-left .expert-title,
.container-left .topic-title {
    height: 36px;
    line-height: 36px;
    background: #e4f2fd;
    font-size: 16px;
    color: #000000;
}

.container-left .expert-title>span,
.container-left .topic-title>span {
    position: relative;
    margin-left: 40px;
}

.container-left .expert-title>span:before,
.container-left .topic-title>span:before {
    content: '';
    background: url("../../img/expert-title.png");
    width: 14px;
    height: 13px;
    position: absolute;
    top: 5px;
    left: -22px;
}

.container-left .topic-title>span:before {
    background: url("../../img/hot-topic.png");
    background-repeat: no-repeat;
}

.container-left .memberList>li {
    margin: 20px 0;
}

.container-left .memberList>li .rank {
    position: relative
}

.container-left .memberList>li.rankNum .rank:before {
    content: '';
    width: 43px;
    height: 34px;
    position: absolute;
    left: 58px;
    top: -27px;
}

.container-left .memberList>li.first .rank:before {
    background: url("../../img/rank-first.png");
}

.container-left .memberList>li.second .rank:before {
    background: url("../../img/rank-second.png");
}

.container-left .memberList>li.third .rank:before {
    background: url("../../img/rank-third.png");
}

.container-left .memberList .member-pic,
.container-left .memberList .member-info {
    display: inline-block;
    vertical-align: top;
}

.container-left .memberList .member-pic {
    position: relative;
}

.container-left .memberList .member-pic img {
    margin: 0 15px;
}

.container-left .memberList .member-info {
    margin-top: 12px;
    margin-left: 20px;
}

.container-left .memberList .member-info>span {
    display: block;
    line-height: 30px;
}

.container-left .hotTopic {
    height: 300px;
    margin-top: 20px;
}

.container-left .topic-title>a {
    float: right;
    margin-right: 10px;
    color: #4c4b4b;
    font-size: 14px;
}

.container-left .topic-title>a:hover {
    cursor: pointer;
    text-decoration: none;
}

.container-left .topics {
    padding-top: 10px;
}

.container-left .topics button {
    border: 1px solid #428bcd;
    background: #ffffff;
    color: #428bcd;
    padding: 3px 6px;
    margin: 5px 7px;
    border-radius: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 5px;
}


/*container-left end*/


/*container-middle start*/

.container-middle {
    margin-left: 16px;
    width: 523px;
    margin-top: 20px;
}

.container-middle .answer-title {
    height: 36px;
    line-height: 36px;
    color: #0073d2;
    border-bottom: 1px solid #c5c5c5;
    font-size: 16px;
}

.container-middle .goodAnswers ul>li {
    height: 38px;
    line-height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.container-middle #question-tab li:last-child {
    margin-left: 10px;
}

.all-questions {
    margin-top: 20px;
}

.all-questions .nav-tabs {
    border-bottom: 1px solid #e4f2fd;
}

.container-middle #question-tab li>a {
    background: #eeeeee;
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
}

.container-middle #question-tab li.active>a {
    background: #e4f2fd;
    padding: 0;
}

.more {
    border-bottom: 1px solid #C9C9C9;
    text-align: right;
}

.more>a {
    text-decoration: none;
    color: #727171;
    cursor: pointer;
}


/*container-middle end*/


/*container-right start*/

.container-right {
    margin-left: 30px;
    margin-top: 20px;
}

.container-right img {
    width: 300px;
    height: 300px;
}

.container-right a {
    display: block;
    color: #0073d2;
}


/*container-right end*/

.question-tags li,
.question-stock li {
    cursor: pointer;
    text-decoration: none;
}

.questionList>li {
    padding: 20px 0;
}

.questionList .member-pic {
    display: inline-block;
    width: 144px;
    vertical-align: top;
    position: relative;
}

.member-pic>a img {
    width: 84px;
    height: 84px;
    margin: 0 30px;
    display: block;
    border-radius: 100%;
}

.memberDetial {
    display: none;
    position: absolute;
    z-index: 1000;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    font-size: 12px;
    width: 300px;
    top: 80px;
    background: #fff;
}

.memberDetial .topDetial {
    padding: 20px 20px 10px;
}

.memberDetial .memName {
    font-size: 14px;
    color: #28b2e3
}

.memberDetial .leftDetial {
    display: inline-block;
    float: left;
    width: 80px;
    padding-right: 20px;
}

.memberDetial .leftDetial>img {
    border-radius: 100%;
    display: block;
    height: 60px;
    margin-right: 10px;
    width: 60px;
}

.memberDetial .rightDetial {
    display: inline-block;
}

.memberDetial .rightDetial .num {
    color: #428bca;
}

.memberDetial .addCare {
    background: #ff8247 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    margin-top: 5px;
    padding: 3px 0;
    text-align: center;
    width: 60px;
}

.memberDetial .bottomDetial {
    text-align: left;
    border-top: 1px solid #dfdfdf;
    margin: 0;
    padding: 4px 20px;
    font-size: 12px !important;
    color: #000;
}


/*question-detial */

.questionList .question-detial {
    display: inline-block;
}

.questionList .questioner {
    color: #000;
    font-size: 15px;
}

.questionList .question-title {
    margin-bottom: 10px;
    font-size: 18px;
}

.questionList .question-title>a {
    color: #d62727;
    font-weight: bold;
    font-size: 18px;
}

.questionList .question-title>i {
    display: inline-block;
    width: 34px;
    height: 24px;
    background: url("../../img/money.png") no-repeat;
    background-position: 5px 6px;
    background-size: 80%;
}

.questionList .question-title>span {
    color: #28b2e3;
    display: inline-block;
    position: relative;
}

.questionList .question-tags li {
    border: 1px solid #28b2e3;
    border-radius: 3px;
    display: inline-block;
    list-style-type: none;
    margin: 2px 20px 0 0;
    padding: 3px 15px;
}

.questionList .question-tags li a {
    color: #28b2e3;
    font-size: 13px;
    font-weight: 600;
}

.questionList .question-stock {
    margin-top: 10px;
}

.questionList .question-stock>ul>li {
    border: 1px solid #428bca;
    border-radius: 3px;
    display: inline-block;
    list-style-type: none;
    margin: 2px 20px 0 0;
    padding: 3px 15px;
}

.questionList .question-stock>ul>li>a {
    color: #428bca;
    font-size: 13px;
    font-weight: 600;
}

.questionList .question-bottom {
    display: inline-block;
    font-size: 12px;
    padding: 3px 0;
    color: #727171;
}

.questionList .question-bottom>ul {
    margin: 10px 10px 0 0;
}

.questionList .question-bottom>ul>li {
    display: block;
    float: left;
    margin-right: 5px;
    padding: 5px;
}